<p class="rtejustify">
	Sumeru is a global software development consultancy that provides onsite consulting and outsourcing for Application Services,Information Security, Business Process Consulting &amp; Outsourcing and Professional Staffing.</p>
<p class="rtejustify">
	&nbsp;</p>
<p class="rtejustify">
	We enable our clients to stay competitive by leveraging global resources, and deliver projects on-time, on-budget and on-spec. Our strength to attract and retain great talent ensures you are always working with elite consultants. Founded in 2000, Sumeru is headquartered in Bangalore, India, with offices in Washington DC, and London.</p>
<p class="rtejustify">
	&nbsp;</p>
<p class="rtejustify">
	In a galaxy of IT sourcing vendors, what makes Sumeru shine? Our employees&#39; alignment of personal to the organizational value of social responsibility translates into one of the lowest attrition rates in the industry. Our founding value of social responsibility enables us to attract the best talent available.</p>
<p class="rtejustify">
	&nbsp;</p>
<p class="rtejustify">
	Why should you choose us for your needs? Our flexible delivery model entails high quality and competitive pricing to ensure our customer&#39;s business needs are met. The sky is NOT the limit! We actively seek to stay ahead of the curve in terms of technological innovation and industry standards. Are we just a &quot;me-too&quot; vendor? Sumeru&#39;s ownership of the client&#39;s solution is total. Our business model is based on ethics, fair practice, and a commitment to our customer&#39;s continued success.</p>
<p>
	&nbsp;</p>


<%= link_to 'Back', products_path %>