<div class="content">
        <div class="page_navigation_title">
<h2 style="width: 200px; height: 34px; padding-top: 30px; padding-left: 80px; background-image: url(&quot;/sites/all/themes/sumeru-framework/images/taj.png&quot;); background-repeat: no-repeat; background-color: rgb(236, 236, 236);">
		INDIA</h2>
</div>
<div class="page_navigation_advert">
<h4>
		Corporate Office</h4>
<p>
		Sumeru Software Solutions Pvt. Ltd.<br />
		#20, I Floor, 11th Main,<br />
		39A Cross, Jayanagar 4T Block,<br />
		Bangalore &ndash; 560 041 Karnataka, INDIA</p>
<p>
		<strong>Tel:</strong> +91 080-2244 0208</p>
<p>
		<strong>Fax:</strong>+91 080-4121 1434</p>
<p>
		&nbsp;</p>
<p>
		<strong>Email:</strong> <a href="mailto:info@sumerusolutions.com">info@sumerusolutions.com</a></p>
<div class="page_line">
		&nbsp;</div>
<p>
		&nbsp;</p>
<h4>
		Tech Center</h4>
<p>
		Sumeru Software Solutions Pvt. Ltd.<br />
		Near VVMVP School,<br />
		21st KM, Kanakapura Main Road,<br />
		Udayapura, Bangalore &ndash; 560 082<br />
		Karnataka, India</p>
<p>
		<span id="dnn_ctr412_ContentPane"><strong>Tel:</strong> +91 080-2843 2801/2/6</span></p>
<p>
		<strong>Fax:</strong>+91 080-2843 2800</p>
<p>
		&nbsp;</p>
<div class="page_line">
		&nbsp;</div>
<p>
		&nbsp;</p>
<h4>
		BPO Center</h4>
<p>	Sumeru Software Solutions Pvt. Ltd.<br />
	101, Surucha&rsquo;s Mundapat Residency, Fatherwadi, Gokhiware Main Road, Vasai (E)- 401208, Dist. Thane, Mumbai.</p></div>
<div class="page_line">
	&nbsp;</div>
<div class="page_navigation_title">
<h2 style="width: 240px; height: 34px; padding-top: 30px; padding-left: 40px; background-image: url(&quot;/sites/all/themes/sumeru-framework/images/sol.png&quot;); background-repeat: no-repeat; background-color: rgb(236, 236, 236);">
		USA</h2>
</div>
<div class="page_navigation_advert">
<p>
		Sumeru Inc.<br />
		2401 15th Street, NW,<br />
		Washington DC - 20009</p>
<p>
		<strong>Tel. </strong>+1 888 852 2412</p>
<p>
		<strong>FAX.</strong> +1 866 202 9158</p>
<p>
		<strong>Email.</strong> <a href="mailto:info@sumerusolutions.com">info@sumerusolutions.com</a></p>
</div>
<div class="page_line">
	&nbsp;</div>
<p><!-- Africa Description --><!-- Africa Description --></p>
<div class="page_navigation_title">
<h2 style="width: 240px; height: 34px; padding-top: 30px; padding-left: 40px; background-image: url(&quot;/sites/all/themes/sumeru-framework/images/nigeria.png&quot;); background-repeat: no-repeat; background-color: rgb(236, 236, 236);">
		&nbsp; AFRICA</h2>
</div>
<div class="page_navigation_advert">
<h4>
		Office in Nigeria</h4>
<p>
		Sumeru Nigeria Limited</p>
<p>
		44, Block I, Jimoh Odutola Street</p>
<p>
		Off Eric Moore, Surulere,Lagos</p>
<p>
		<strong>Phone:</strong> +234 70942 54347,</p>
<p style="margin-left: 43px;">
		+234 70942 58100,</p>
<p style="margin-left: 43px;">
		+234 70926 74834</p>
<p>
		<strong>E-mail:</strong> <a href="mailto:anirvachan.vasan@sumerusolutions.com">anirvachan.vasan@sumerusolutions.com</a></p>
<p>
		&nbsp;</p>
</div>
<div class="page_line">
	&nbsp;</div>
<!-- Ghana --><!-- Ghana --><div class="page_navigation_advert">
<h4>
		Partners in Ghana</h4>
<p>
		Knowledgeworkz Limited</p>
<p>
		276, Ring Road Central, Opp BusyInternet</p>
<p>
		P. O. Box AD 421, Accra</p>
<p>
		<strong>Phone:</strong> +233 30225 3630, +233 30225 3631</p>
<p>
		<strong>Fax:</strong> +233 302250649</p>
<p>
		<strong>Contact:</strong> Mr Kapil Gupta (Managing Director)</p>
<p>
		<strong>E-mail:</strong> <a href="mailto:kapil@smughana.com">kapil@smughana.com</a></p>
</div>
  </div>

