<table border="0" cellpadding="0" cellspacing="0" width="570px" >
                <caption>
                    <br />
                    <tr>
                        <td  valign="middle">
                            <div>
		<table cellspacing="0" cellpadding="4" border="0" id="ctl00_ContentPlaceHolder1_BusAvailablity" style="color:#2A2A2A;background-color:#F2F2F2;border-width:0px;border-style:None;font-family:Calibri;width:938px;border-collapse:collapse;">
			<tr class="GridHeading" align="center" style="color:#EC008C;background-color:#F2F2F2;font-weight:bold;height:25px;">
				<th scope="col">
                                            Bus Type
                                        </th><th scope="col">
                                            Route
                                        </th><th scope="col">
                                            Departure
                                        </th><th scope="col">
                                            Available Seats
                                        </th><th scope="col">
                                        </th><th scope="col">
                                            Fare
                                        </th><th scope="col">
                                            <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl01_Select"></span>
                                        </th><th scope="col">&nbsp;</th>
			</tr><tr style="color:#333333;background-color:White;">
				<td class="grid_text" align="left" valign="middle" style="color:#363636;font-weight:bold;width:250px;">
                                            <br />
                                            <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_BusType">2X2 Semi Sleeper 40 Non A/C</span>
                                            <br />
                                            

                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$BusAvailablity$ctl02$hfAC" id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_hfAC" value="False" />
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$BusAvailablity$ctl02$hfBusTypeID" id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_hfBusTypeID" value="12" />
                                        </td><td class="grid_text" align="left" valign="middle" style="width:150px;">
                                            <br />
                                            <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_RouteName"><%=params[:from]%>  - <%=params[:to]%></span>
                                            <br />
                                            
                                        </td><td class="grid_text" align="center" valign="middle" style="width:75px;">
                                            <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_Depature"><%= params[:onward].to_date.strftime("%d/%m/%Y")%></span>
                                        </td><td class="grid_text" align="center" valign="middle" style="width:170px;">
                                            <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_TotalSeats">34</span>
                                        </td><td class="grid_text" align="center" valign="middle" style="width:30px;">

                                        </td><td class="grid_text" align="center" valign="middle" style="width:75px;">
                                          <!--
                                          <a id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_strike" style="text-decoration:line-through;">
                                                <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_Rupee" class="WebRupee">Rs.</span>
                                                <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_Fare">540.00</span></a><br /><br />
                                          -->
                                            <span id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_Rs" class="WebRupee">Rs. 513.00</span>
                                        <td class="grid_text" align="center" valign="middle" style="width:75px;"></td>
                                        
                                        </td>
                                            
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$BusAvailablity$ctl02$hfDeparture" id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_hfDeparture" value="19-03-13    8:00PM" />
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$BusAvailablity$ctl02$hfVehicle" id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_hfVehicle" value="30" />
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$BusAvailablity$ctl02$hfRouteAttribute" id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_hfRouteAttribute" value="5382" />
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$BusAvailablity$ctl02$hfArrivalDepartureId" id="ctl00_ContentPlaceHolder1_BusAvailablity_ctl02_hfArrivalDepartureId" value="96746" />
                                        </td>
			</tr>
		</table>
	</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>

                            </center>
                        </td>
                    </tr>
                </caption>
            </table>