<!DOCTYPE html>
<html>
<head>
  <title>ExportImport</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "autocomplete-rails.js"%>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
